<!doctype html>
<html>
<head>
	<title>Components</title>
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/layout.css">

</head>
<body>
	<div class="outer">
	    <div class="topnav">
	        Top Nav
	    </div>
			<div class="hero_content">
					<img src="img/heroimg.png" alt="accessories"/>

	    <div class="page">
	    <div class="container">

						<p class="hero_text_headline">
						Find the accessories you're looking for.
						</p>
				</div>

				<!--  row -->
				<div class="row">
						<div class="col-4">
								<img src="img/iphone1.png" alt="iPhone 13 Pro Silicone Case"/>
						</div>
						<div class="col-8">
								<img src="img/iphone2.png" alt="iPhone 13 Leather Case"/>
						</div>
				</div>

				<div class="row">
						<div class="col-4">
								<img src="img/iphone3.png" alt="AirTag"/>
						</div>
						<div class="col-4">
								<img src="img/iphone4.png" alt="Braided Solo Loop"/>
						</div>
						<div class="col-4">
								<img src="img/iphone5.png" alt="Smart Folio for iPad mini"/>
						</div>
				</div>

			</div>
		</div>

	</div>





</body>
</html>
